.Homedetail{
width: 100%;
padding: 20px;
gap: 20px;
display: flex;
flex-direction: column;
box-sizing: border-box;
background-color: rgb(235,235,235);


}
.Homedetaillongcard{
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    background-color: white;
}
.Homedetaillongcardtittle{
    font-size: 20px;
    font-weight: 700;
    color: rgb(0,0,0);
}
.Seeall{
    text-decoration: none;
    color:  #0071e3;
    font-size: 15px;
    font-weight: 500;
    margin-left: 10px;

    &:hover{
        
       color:  #2835cb;
    }
}
.Homedetaillongcarditems{
    margin-top: 10px;
    gap: 10px;
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px 0;
    overflow: hidden;
}
.scrooldiv{
    display: flex;
    width: 100%;
    gap: 15px;
    overflow-x: auto;
}

.Homedetaillongcarditem{
display: flex;
flex-shrink: 0;
cursor: pointer;
flex-direction: column;
width: 17%;
align-items: center;
box-sizing: border-box;
padding: 10px;
background-color: rgb(247,247,247);
}
.Homedetaillongcarditemimg{
    width: auto;
    height: auto;
    max-width: 270px;
    max-height: 200px;
    vertical-align: middle;
}

.imgbannerimg{
    width: auto;
    height: auto;
    max-width: 270px;
    max-height: 200px;
    vertical-align: middle;
}