.optionalnavbarBannericon2 {
    transition: transform 0.3s ease;
    position: relative;
  }
  
  .rotate-180 {
    transform: rotate(180deg);
  }
  
  .dropdownMenu {
    background: white;
    padding: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    position: relative;
    top: 100%;
    left: 0;
    z-index: 10;
    margin-top: 500px;
  }
  .image{
    width:  80%;
    height: 80%;
  
    
  }